<div class="content" (drop)="dropHandler($event);" (dragover)="dragOverHandler($event);">
  <h1 *ngIf="!cells" class="dropText">Drop a single json file here...</h1>
  <div #box class="box" *ngIf="cells">
    <div class="row" *ngFor="let row of cells; let y = index" [style.height]="getSize()">
      <div class="elem" *ngFor="let cell of row; let x = index" [class.dark]="((x+y) % 2) == 0"
        [style.backgroundColor]="getColor(cell)" [style.width]="getSize()"></div>
    </div>
  </div>

  <div class="menu">
    <h2>Menu</h2>
    <fieldset *ngIf="gameData">
      <legend>Game state:</legend>
      Current Round:
      <input type="range" [(ngModel)]="currentRound" [min]="0" [max]="gameData.length - 1" class="slider" (change)="handleChange()">
      <button style="width: 10%;" (click)="step(-1)" [disabled]="currentRound <= 0"><</button>
      <button *ngIf="!isPlaying" style="width: 80%;" (click)="play()">Play</button>
      <button *ngIf="isPlaying" style="width: 80%;" (click)="isPlaying=false">Pause</button>
      <button style="width: 10%;" (click)="step(1)" [disabled]="currentRound >= gameData.length - 1">></button>
    </fieldset>
    <fieldset *ngIf="gameData">
      <legend>Player state:</legend>
      <div *ngFor="let player of players">
      <div class="playerIcon" [style.backgroundColor]="getColor(player.number)">{{player.number}} <b *ngIf="isYou(player)">YOU</b></div>
        X:{{player.x}} Y:{{player.y}} Direction:{{player.direction}} Speed:{{player.speed}} Active:{{player.active}}
      </div>
    </fieldset>
  </div>
</div>
<router-outlet></router-outlet>