.content {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 100%;
    justify-content: stretch;
    align-items: stretch;
    grid-template-areas: "game menu";
}

.box {
    grid-area: game;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.row {
    width: 100%;
}

.elem{
    height: 100%;
    float: left;
}

.dark {
    filter: brightness(90%);
}

p-panel {
    grid-area: menu;
}